.view-link {
  position: relative;
  display: inline-block;
  height: 20px;
  width: fit-content;
  color: $color-blue;
  // font-size: 0.875rem;
  line-height: 1.3rem;
  letter-spacing: 0.35px;
  font-weight: 500;
  transition: all 1s ease-in-out;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $color-blue;

    &::after {
      background-color: $color-blue;
      width: 50%;
      left: 25%;
      transition: 0.2s ease-out all 0.1s;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: $color-blue;
    transition: 0.4s ease-out all 0.1s;
  }
}

.view-link-white {
  @extend .view-link;
  color: $color-white;

  &:hover {
    color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    background-color: $color-white;
  }
}

.cta {
  padding: 0.8rem 1.4rem;
  background: $color-pink;
  border-radius: 2rem;
  color: $color-white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  animation: all 0.5 ease-in;

  &:hover {
    background: $color-white;
    color: $color-pink;
  }
}

.inactive-cta {
  background: $color-darkgrey;
  color: $color-lightgrey;
}

.back-cta {
  @extend .cta;
  background: transparent;
  border: 1px solid $color-pink;

  &:hover {
    background: transparent;
    color: $color-pink;
  }
}

.connect-cta {
  width: 10.5rem;
  max-width: 10.5rem;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  @include tablet-land {
    width: 8rem;
    max-width: 8rem;
  }
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    width: 8rem;
    max-width: 8rem;
  }

  &:hover {
    a {
      background: $color-white;
      color: $color-blue !important;
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
    }
  }

  a {
    background: $color-blue;
    color: $color-white;
    width: 100%;
    height: 40px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
  }
}

.connect-now {
  padding: 1rem 1.5rem;
  width: 12rem;
  position: relative;
  background: $color-blue;
  color: $color-white;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;

  &::after {
    content: '';
    position: absolute;
    border: 1px solid $color-blue;
    width: 12rem;
    height: 60px;
    top: 4px;
    left: 6px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
  }

  &:hover {
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    color: $color-blue;
    background: $color-white;

    &::after {
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      border: 1px solid $color-white;
    }
  }

  &:focus {
    outline: none;
    border: 0;

    &::after {
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      outline: none;
      top: 0;
      left: 0;
    }
  }
}

.connect-black {
  padding: 1rem 1.5rem;
  width: 12rem;
  position: relative;
  background: $color-black;
  color: $color-white;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;

  &::after {
    content: '';
    position: absolute;
    border: 1px solid $color-black;
    width: 12rem;
    height: 60px;
    top: 4px;
    left: 6px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
  }

  &:hover {
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    color: $color-black;
    background: $color-white;

    &::after {
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      border: 1px solid $color-white;
    }
  }

  &:focus {
    outline: none;
    border: 0;

    &::after {
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      outline: none;
      top: 0;
      left: 0;
    }
  }
}