.payment {
  .main-section {
    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
      background-color: transparent;
      color: $color-pink;

      ​ ​ span {
        color: $color-white;
      }
    }

    ​ ​ .nav-link {
      font-size: 1.25rem;
      //     color: $color-grey-dark;
      border-bottom: 1px solid #262626;
      border-radius: 0;
      padding: 1rem;
    }

    ​ ​ .font-12 {
      font-size: 12px;
    }

    ​ ​ .color-pink {
      color: $color-pink;
    }

    ​ ​ .invalid-feedback {
      color: white;
      font-size: 0.75rem;
    }

    ​ ​ .valid-tick {
      position: absolute;
      top: 13px;
      right: 0;
      font-size: 12px;

      ​ ​ svg {
        width: 1rem;
        height: 1rem;
      }
    }

    .usage-detail-card {
      width: 22rem;
      margin: 1rem;
      cursor: pointer;
    }

    .checkbox-card {
      width: 100%;
      background: #1a1a1a;
      border-radius: 10px;
      border: 1.5px solid transparent;

      &:hover {
        border: 1.5px solid $color-pink;

        .checkbox-card-text {
          color: $color-pink;
        }

        .st2 {
          fill: $color-pink !important;
        }
      }

      svg {
        width: 4rem;
        fill: #FFFFFF !important;
      }

      .checkbox-card-text {
        color: $color-white;
      }

      .checkmark {
        left: 0;
        top: 15%;
        transform: translate(0, -50%);
        height: 16px;
        width: 16px;
        background-color: #fff;
        border-radius: 50%;
        padding-left: 1rem;
        position: relative;

        &::after {
          left: 6px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
        }
      }
    }



    .yellow-band {
      background: #FEC66F;
      color: #000000;
      text-align: center;
      border-radius: 5px 5px 0 0;
      font-size: 14px;
    }

    .b-radius-top-0{
      border-radius: 0 0 10px 10px !important;
    }
    .pricing-card {
      background: #1a1a1a;
      border-radius: 10px;

      .card-header {
        border-radius: 0;
        border-bottom: 1px solid #424242;
      }

      .card-body {
        .plan-price {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          font-size: 44px;

          .rupee-sign {
            font-size: 24px;
          }
        }
      }

      .card-footer {
        background: $color-pink;
        text-align: center;
        border-radius: 0 0 10px 10px;

        a {
          color: $color-white;
          display: block;
        }
      }

      .inverse-card-footer{
        // .card-footer {
          background: $color-white;
          text-align: center;
          border-radius: 0 0 10px 10px;

          a {
            color: $color-pink;
            display: block;
          }
        // }
      }

    }


  }
}
​
/*form styles*/
.msform {
  text-align: center;
  position: relative;

  ​ .close-btn {
    background: #EFEEEE;
    border-radius: 2rem;
    height: 30px;
    width: 30px;

    ​ &:focus {
      outline: 0;
    }

    ​ .fa-times {
      font-size: 1rem;
    }
  }
}
​
/*progressbar connectors*/
.progress-tab li ​ .progress-tab li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progress-tab li.active:after,
.progress-tab li.active:before {
  background: $color-pink;
  border: 1px solid $color-pink;
  color: white;
}

.msform fieldset:not(:first-of-type) {
  display: none;
}

.feature-card {
  text-align: center;

  svg {
    width: 5rem;
    margin-bottom: 1rem;
  }

  h6 {
    text-transform: uppercase;
  }

  p {
    line-height: 21px;
  }
}

.process-row {
  .process-card {
    width: 30%;
    max-width: 30%;
    margin: 1rem;
    cursor: pointer;
    @include tablet-port {
      width: 45%;
      max-width: 45%;
    }
    @include mobile {
      width: 100%;
      max-width: 100%;
    }

    .card {
      background: $color-grey;
      border-radius: 10px;
      padding: 30px;

      &:hover {
        svg {
          .st0,
          .st1,
          .st2,
          .st3,
          .st4 {
            fill: $color-pink !important;
          }
        }

        .card-body {
          h5 {
            color: $color-pink;
          }
        }
      }

      svg {
        width: 7rem;
        max-width: 7rem;
        margin: 0 auto;
      }
    }
  }
}

.active-card {
  background: $color-white !important;
  border: 2px solid $color-pink;

  svg {
    .st0,
    .st1,
    .st2,
    .st3,
    .st4 {
      fill: $color-pink !important;
    }
  }

  .card-body {
    h5 {
      color: $color-pink;
    }
  }
}
