.dropdown {
  button {
    background: transparent;
    color: white;
    border: none;

    &:focus {
      box-shadow: none;
      border: none;
    }

    &::after {
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      width: 10px;
      height: 10px;
    }
  }

  .dropdown-menu {
    background: black;
    @include mobile {
      column-count: 1;
    }

    .dropdown-item {
      padding: 0.5rem;
      color: white !important;

      &:hover {
        color: $color-blue !important;
        border-color: $color-blue;
        background: transparent;
      }
    }
  }
}