.form-group {
  position: relative;
  margin-bottom: 2rem;

  input:focus {
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid $color-black !important;
  }

  .contact-feilds {
    border: none;
    border-bottom: 1px solid #E3EAF2;
    outline: none;
    color: $color-white;
    font-weight: 500;
    letter-spacing: 0.34px;
    line-height: 21px;
    background: transparent;
    box-shadow: none;
    padding: 0.5rem 0;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
  }

  .form-control-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    -webkit-transition: all 200ms;
    outline: none;
    color: $color-white;
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .form-control:focus + .form-control-placeholder {
    font-size: 1.125rem;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    opacity: 1;
    color: $color-white;
  }

  .form-control:valid + .form-control-placeholder {
    font-size: 15px;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    opacity: 1;
    color: $color-white;
  }

  .form-control:focus {
    border-radius: 0;
    border-color: inherit;
    outline: 0;
    box-shadow: none;
  }

  .verify {
    right: -90px;
    position: absolute;
    top: 10px;
    border-bottom: 1px solid;
    color: $color-pink;
  }
}

.otp-div {
  display: none;
}

.current-location {
  position: relative;

  input:focus {
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid $color-pink !important;
  }

  .contact-feilds {
    border: none;
    border-bottom: 1px solid #E3EAF2;
    outline: none;
    color: $color-white;
    font-weight: 500;
    letter-spacing: 0.34px;
    line-height: 21px;
    background: transparent;
    box-shadow: none;
    padding: 0.5rem 0;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
  }

  .form-control-placeholder {
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 200ms;
    outline: none;
    color: $color-white;
    font-weight: 500;
    font-size: 0.875rem;
    z-index: -1;
  }

  .form-control:focus ~ .search-icon,
  .form-control:valid ~ .search-icon {
    opacity: 1;
  }

  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -130%, 0);
    opacity: 1;
    color: $color-lightgrey;
  }

  .form-control:focus {
    border-radius: 0;
    border-color: inherit;
    outline: 0;
    box-shadow: none;
  }

  .verify {
    right: -90px;
    position: absolute;
    top: 10px;
    border-bottom: 1px solid;
  }
}

.otp-div {
  display: none;
}

.current-location {
  position: relative;

  .location-icon {
    width: 1rem;
    position: absolute;
    right: 7.5rem;
    top: 74%;
    fill: #FFFFFF !important;
  }

  .search-icon {
    width: 1rem;
    position: absolute;
    top: 0.8rem;
    opacity: 0;
  }

  .form-control {
    padding-left: 1.5rem;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}