.radio-container{
  display: flex;
  align-content: center;
  padding-left: 9px;
  .radio-button {
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    padding-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  
  /* Hide the browser's default radio button */
  .radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    left: 0;
    height: 16px;
    width: 16px;
    background-color: $color-white;
    border-radius: 50%;
    padding-left: 1rem;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-button:hover input ~ .checkmark {
    background-color: $color-pink;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-button input:checked ~ .checkmark {
    background-color: $color-pink;
  }
  .radio-button input:checked ~ p {
    color: $color-pink;
  }
  
  p{
    margin-bottom: 0;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-button input:checked ~ .checkmark:after {
    display: block;
  }
}
