.make-time {
  position: relative;
  height: 48px;
  background: azure;
  width: 100%;

  .make-time-select {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: 99;
  }
}

.select {
  width: 100%;
  margin: 0 auto;
  border-radius: 7px;
  border-radius: 0;
  border-bottom: 1px solid $color-pink;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  height: auto;
  max-height: calc(40px * 8);
  transition: 0.2s;

  &::before {
    content: url("../../img/icons/up-icon.svg");
    position: absolute;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    top: 1rem;
    right: 0.5rem;
    width: 1rem;
  }
}

.collapsed {
  transition: 0.2s;
  // &::before {
  //   content: url("../../img/icons/up-icon.svg");
  //   position: absolute;
  //   transform: rotate(180deg);
  //   -webkit-transform: rotate(180deg);
  //   top: 1rem;
  //   right: 0.5rem;
  //   width: 1rem;
  // }
}

.option,
.shown {
  width: 100%;
  height: 55px;
  line-height: 55px;
  cursor: pointer;
  border-bottom: 1px solid $color-white;
}

.shown {
  font-weight: 400;
  color: $color-pink;
}

.option {
  cursor: pointer;

  &:hover {
    color: $color-pink;
    border-bottom: 1px solid $color-pink;
  }
}

.months {
  min-height: 10rem;
  height: 10rem;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    // background-color: rgba(0,0,0,.5);
    background-color: #DBD8D6;
    //  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

.tenant-row {
  display: none;
}