footer {
  border-top: 1px solid #262626;
  background: $color-black;

  .container-fluid {
    padding: 5rem 3rem;
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      padding: 4rem 2rem;
    }
  }

  h6 {
    font-family: helvetica-neue-bold;
  }

  ul {
    text-decoration: none;
    list-style: none;

    .icons {
      width: 1.5rem;
      max-width: 1.5rem;
      display: block;
      margin-right: 1rem;

      svg {
        width: 100%;
      }
    }

    li {
      font-family: Helvetica Neue;
      margin: 1rem 0;
      font-size: 0.87rem;
      @include mobile {
        &:first-child {
          margin: 0;
        }
      }
      @include tablet-port {
        &:first-child {
          margin: 0;
        }
      }
    }

    .app-icon-padd {
      display: flex;
      align-items: center;

      img {
        width: 6rem;
      }
    }

    .disclaimer {
      a {
        padding: 0 5px;
        border-right: 1px solid $color-white;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

.mob-footer {
  #accordion {
    .card {
      .card-body {
        @include mobile {
          padding: 0.5rem 1rem;
        }
        @include tablet-port {
          padding: 0.5rem 1rem;
        }
      }
    }

    .collapsed {
      &::before {
        content: none;
      }

      .card-header {
        &::before {
          background-image: url("../../img/white_arrow.png") !important;
          content: '';
          transform: rotate(0deg) !important;
          position: absolute;
        }

        h5 {
          p {
            color: $color-white !important;
          }
        }
      }
    }

    .card {
      background: none;
      border-bottom: 1.5px solid #FFFFFF;
      position: relative;

      .card-header {
        position: relative;

        &::before {
          background-image: url("../../img/blue_arrow.png");
          content: '';
          position: absolute;
          transform: rotate(0deg) translate(0%, -50%) !important;
          top: 50%;
          right: 0.5rem;
          width: 1rem;
          height: 1rem;
          background-size: 1rem;
          background-repeat: no-repeat;
        }

        h5 {
          p {
            color: $color-blue;
          }
        }
      }
    }
  }

  .social-icons {
    svg {
      width: 2rem;
    }
  }
}