.container {
  padding: 5rem 0;
  max-width: 1200px;
  @include mobile {
    padding: 3rem 1.5rem;
  }
  @include tablet-port {
    padding: 4rem 2rem;
  }
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    padding: 5rem 2rem;
  }
}

.container-fluid {
  padding: 5rem 0;
  max-width: 100%;
  @include mobile {
    padding: 3rem 1.5rem;
  }
  @include tablet-port {
    padding: 3rem 2rem;
  }
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    padding: 4rem 0;
  }
}