header {
  background: $color-black;
  transition: background 1s ease;
  -o-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -webkit-transition: background 1s ease;

  button {
    &:focus {
      outline: none;
    }
  }

  .navbar-toggler {
    &::after,
    &::before {
      content: none;
    }

    .navbar-toggler-icon {
      background-color: transparent;

      &::before {
        top: 0;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      &::after {
        top: 0;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }

  .active {
    // background: #fff;
    // -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    // -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    // transition: background 1s ease;
    // -o-transition: background 1s ease;
    // -moz-transition: background 1s ease;
    // -webkit-transition: background 1s ease;
    .dropdown {
      button {
        color: $color-black;

        &:after {
          border: solid $color-black;
          border-width: 0 2px 2px 0;
        }
      }
    }

    ul {
      li {
        a {
          color: $color-black !important;
        }
      }
    }
  }

  .collapsed {
    .navbar-toggler-icon {
      background-color: white;

      &::before {
        top: -10px;
        transform: rotate(0deg);
      }

      &::after {
        top: 10px;
        transform: rotate(0deg);
      }
    }
  }

  .navbar-toggler-icon {
    background-image: none;
    width: 2rem;
    height: 2px;
    background-color: white;
    display: inline-block;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      width: 100%;
      height: 2px;
      top: 0;
      background: white;
    }
  }

  #nav-test {
    .navbar-2 {
      position: absolute;
      background: black;
      z-index: 9999;
      width: 15rem;
      height: 75px;
      @include mobile {
        margin: 0;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .navbar-brand {
      @include mobile {
        padding: 1rem;
        margin: 0;
      }

      .navbar-toggler {
        @include mobile {
          padding: 0 1rem;
        }
      }

      .logo-img {
        max-width: 10rem;
        width: 10rem;
        @include mobile {
          max-width: 9rem;
        }
        @include tablet-land {
          max-width: 8rem;
          width: 8rem;
        }
        @media screen and (min-width: 1024px) and (max-width: 1200px) {
          max-width: 8rem;
          width: 8rem;
        }
      }
    }

    .navbar-collapse {
      justify-content: space-between;
      transition: 0.2s ease-in-out;

      #nav-container {
        width: 100%;
        margin-left: 0;
      }
    }

    .navbar-collapse.show {
      height: 90vh !important;
      min-height: 90vh !important;
      overflow: scroll;
      flex-direction: column;
      transition: 0.2s ease-in-out;
    }

    #nav-1 {
      background: $color-white;
      @include mobile {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 999;
      }

      li {
        .nav-link {
          color: $color-black;
          font-size: 0.75rem;
          @include mobile {
            font-size: 0.875rem;
          }
        }

        a {
          &.active {
            font-family: helvetica-neue-bold;
          }
        }
      }
    }

    #nav-1 .hide {
      visibility: hidden;
    }

    #nav-2 {
      position: absolute;
      top: 75px;
      @include mobile {
        position: relative;
        top: 0;
        min-height: 100%;
        height: 100%;
        overflow: scroll;
      }
      // .drop-section {
      .header-links {
        a {
          transform: translateX(5px);
          -webkit-transform: translateX(5px);
          -moz-transform: translateX(5px);
          -o-transform: translateX(5px);
          transition: transform 0.3s ease-in-out;
          -webkit-transition: transform 0.3s ease-in-out;
          -moz-transition: transform 0.3s ease-in-out;
          -o-transition: transform 0.3s ease-in-out;

          &:hover {
            i {
              transform: translateX(5px);
              -webkit-transform: translateX(5px);
              -moz-transform: translateX(5px);
              -o-transform: translateX(5px);
              transition: transform 0.3s ease-in-out;
              -webkit-transition: transform 0.3s ease-in-out;
              -moz-transition: transform 0.3s ease-in-out;
              -o-transition: transform 0.3s ease-in-out;
            }
          }

          i {
            transition: transform 0.3s ease-in-out;
            -webkit-transition: transform 0.3s ease-in-out;
            -moz-transition: transform 0.3s ease-in-out;
            -o-transition: transform 0.3s ease-in-out;
          }
        }
      }

      .nav-item.show {
        .nav-2-items {
          color: $color-blue;
        }
      }
      // }
      .arrow-up {
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out;
        -webkit-transition: transform 0.3s ease-in-out;
        -moz-transition: transform 0.3s ease-in-out;
      }

      .arrow-down {
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out;
        -webkit-transition: transform 0.3s ease-in-out;
        -moz-transition: transform 0.3s ease-in-out;
      }

      .blog-card {
        border: 0;
        box-shadow: none;
        background: transparent;

        &:hover {
          color: $color-white;

          .card-title {
            color: $color-blue;
          }
        }
      }

      .nav-item {
        .nav-2-items {
          color: $color-white;

          &:hover {
            color: $color-blue;
          }
          // &:focus {
          //   color: $color-blue;
          // }
        }
      }
    }

    .shiftup {
      top: 0 !important;
      background: #fff;

      .nav-item {
        .nav-2-items {
          color: $color-black !important;
          font-size: 0.75rem;

          &:focus {
            font-family: helvetica-neue-bold;
          }
        }
      }

      .drop-section {
        li {
          a {
            color: $color-white !important;
          }
        }

        .connect-now {
          color: $color-white !important;

          &:hover {
            color: $color-blue !important;
          }
        }
      }
    }

    .navbar-nav {
      margin-left: 3rem;
      @include mobile {
        padding: 0;
      }

      li {
        margin-right: 2rem;
        position: static;
        @include mobile {
          margin-right: 0;
          padding: 1rem 1.5rem;
        }
        @include tablet-land {
          margin-left: 1rem;
        }
        @media screen and (min-width: 1024px) and (max-width: 1200px) {
          margin-left: 1rem;
        }

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          a,
          button {
            color: $color-blue;
          }
        }

        .nav-link {
          min-height: 75px;
          height: 75px;
          @include mobile {
            min-height: initial;
            height: initial;
            padding: 0;
          }

          &:after {
            display: none;
          }
        }

        .dropdown-menu {
          float: none;
          width: 100%;
          margin: 0;

          .drop-section {
            color: $color-white;
            max-width: 80%;
            width: 80%;
            margin: 0 auto;
            height: 100vh;
            margin-top: 5rem;
            @include mobile {
              max-width: 100%;
              width: 100%;
              margin-top: 1rem;
            }

            a {
              color: $color-white;

              &:hover {
                color: $color-blue;
              }
            }

            .heading {
              border-bottom: 1px solid $color-white;
            }

            ul {
              -webkit-column-count: 2;
              column-count: 2;
              -webkit-column-gap: 1rem;
              column-gap: 1rem;
              list-style: none;
              @include mobile {
                -webkit-column-count: auto;
                column-count: auto;
              }

              li {
                margin-right: 0;
              }
            }
          }
        }
      }

      .active-nav {
        a,
        button {
          color: $color-blue;

          &::after {
            border: solid $color-blue;
            transform: rotate(45deg);
            border-width: 0 2px 2px 0;
          }
        }
      }
      // }
      #line {
        position: absolute;
        bottom: -1px;
        height: 2px;
        background: $color-pink;
        transition: all 150ms ease-in-out;
      }
    }
  }
}