.disable-scroll {
  overflow: hidden !important;
}

.home {
  .main-section {
    background: $color-black;

    .main-text {
      margin-left: 20%;
      @include mobile {
        margin-left: 0;
      }
    }

    #carouselExampleIndicators {
      // visibility: hidden;
      // opacity: 0;
      // transition: visibility 0.3s linear,opacity 0.3s linear;
    }
    // .connect-now-cta {
    //   transition-delay: 2s;
    // }
    //  height: 43rem;
    // #carouselExampleIndicators {
    //   display: none;
    // }
    .carousel-fade {
      .carousel-item {
        transition-duration: 0.2s !important;
        animation-delay: 0.2s !important;

        .main-section-image {
          animation-delay: 0.1s;
        }

        .main-section-text {
          animation-delay: 0.1s;
        }
      }
    }

    .connect-now-cta {
      position: absolute;
      // bottom: 180px;
      bottom: 100px;
      left: 8.5%;
      z-index: 9;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.3s linear,opacity 0.3s linear;
      -webkit-transition: visibility 0.3s linear,opacity 0.3s linear;
      -moz-transition: visibility 0.3s linear,opacity 0.3s linear;
      -o-transition: visibility 0.3s linear,opacity 0.3s linear;
      @media (min-width: 1024px) and (max-width: 1365px) {
        bottom: 12%;
      }
    }

    .carousel-indicators {
      // transform: rotate(90deg) translate(-50%, -50%);
      // left: 35%;
      // top: 45%;
      // margin-left: 40%;
      margin-left: 8%;

      li {
        border: 1px solid $color-blue;
        background: transparent;

        &.active {
          background: $color-blue;
        }
      }
      @include mobile {
        position: absolute;
        top: 103%;
        left: 20%;
      }
      @include tablet-port {
        position: absolute;
        top: 103%;
        left: 25%;
        transform: rotate(0deg) translate(-50%, -50%);
      }
      @media (min-width: 1024px) and (max-width: 1365px) {
        transform: rotate(90deg) translate(-50%, -50%);
        left: 15%;
        top: 50%;
        margin-left: 55%;
      }
    }
  }

  .partners {
    img {
      max-width: 8rem;
      width: 8rem;
      @include mobile {
        max-width: 6rem;
        width: 6rem;

        &:nth-child(-n+3) {
          margin-bottom: 1rem;
        }
      }
      @include s-mobile {
        &:nth-child(-n+4) {
          margin-bottom: 1rem;
        }
      }
      @include tablet-port {
        max-width: 7rem;
        width: 7rem;
      }
    }
  }

  .business-nature {
    color: $color-black;
    // .hey {
    //   display: none;
    // }
    .collapse.show {
      display: flex;
    }

    .card {
      background: #FFFFFF;
      border: 1px solid #47A8C5;
      box-sizing: border-box;
      box-shadow: 6px 6px 0 rgba(71, 168, 197, 0.3);
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      @include mobile {
        width: 92%;
        max-width: 92%;
        margin: 0 auto;
      }

      svg {
        max-width: 4rem;
        width: 4rem;
        height: 4rem;
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
      }

      &:hover {
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        color: $color-white;
        background: $color-blue;

        svg {
          transition: all 0.3s ease-in;
          -webkit-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;

          .st-2 {
            transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            fill: $color-white;
          }
        }
      }

      &:focus {
        box-shadow: none;
        outline: 0;
        color: $color-white;
        background: $color-blue;
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;

        svg {
          .st-2 {
            fill: $color-white;
          }
        }
      }
    }
  }

  .network {
    background: #A2E0E1;
    color: $color-black;

    #network-indicators {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.3s linear,opacity 0.3s linear;
    }

    .carousel-fade {
      .carousel-item {
        transition-duration: 0.2s !important;
        animation-delay: 0.2s !important;

        .network-image {
          animation-delay: 0.1s;
        }

        .friction-text {
          animation-delay: 0.1s;
          padding-top: 22rem;
          @include mobile {
            padding-top: 2rem;
          }
        }
      }
    }

    .friction-text {
      @include tablet {
        flex-direction: row !important;
        justify-content: space-between !important;
        padding-top: 5rem !important;
      }
    }

    .profile {
      @include tablet {
        padding-top: 0 !important;
      }
    }

    h4 {
      @include tablet {
        max-width: 60% !important;
        width: 60% !important;
      }
    }

    .network-img {
      max-width: 70%;
      width: 70%;
      height: 100%;
      object-fit: cover;
      @include mobile {
        max-width: 95%;
        width: 95%;
        margin: 0 auto;
      }
      @include tablet-port {
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
      }
      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        width: 80%;
        max-width: 80%;
      }
    }

    h4 {
      max-width: 100%;
      width: 100%;
    }

    svg {
      &:hover {
        .svg-hover {
          fill: $color-black;
        }

        .svg-hover-green {
          fill: $color-blue;
        }
      }
    }

    .frictionless-blue {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 5rem;
      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        display: none !important;
      }
    }

    .frictionless-black {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 0;
      width: 5.5rem;
      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        display: none !important;
      }
    }

    &::before {
      content: '';
      position: absolute;
      background: $color-black;
      top: 0;
      left: 0;
      width: 75%;
      height: 24rem;
      @include mobile {
        width: 100%;
      }
      @include tablet-port {
        width: 100%;
        height: 40vh;
      }
      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        height: 22rem;
      }
      @media (min-width:1920px) {
        width: 100%;
      }
    }

    .network-text {
      // visibility: hidden;
      color: $color-white;
      z-index: 1;
      width: 35rem;
      position: absolute;
      @include mobile {
        position: relative;
        width: 100%;
      }
      @include tablet-port {
        position: relative;
        width: 90%;
      }
    }

    .carousel-indicators {
      justify-content: flex-end;
      position: absolute;
      bottom: -50px;
      right: 30px;
      @include mobile {
        bottom: 35%;
        left: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        margin-left: 0;
      }
      @include s-mobile {
        bottom: 40%;
        left: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        margin-left: 0;
      }
      @include tablet-port {
        bottom: 20%;
        left: 50%;
        right: initial;
        transform: translate(0%, -50%);
        margin-left: 0;
      }
      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        bottom: -8%;
        right: initial;
        left: 60%;
      }

      li {
        border: 1px solid $color-black;
        background: transparent;

        &.active {
          background-color: $color-black;
        }
      }
    }
  }

  .why-spectra {
    background: $color-purple;
    color: $color-black;

    .font-65 {
      max-width: 70%;
      width: 70%;
      @include mobile {
        max-width: 100%;
        width: 100%;
      }
      @include tablet-port {
        max-width: 75%;
        width: 75%;
      }
      @include tablet-land {
        max-width: 90%;
        width: 90%;
      }
      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        max-width: 85%;
        width: 85%;
      }
    }

    .add-ons {
      width: 30%;
      max-width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      @include mobile {
        max-width: 100%;
        width: 100%;
        height: initial;
      }
      @include tablet-port {
        max-width: 48%;
        width: 48%;
        height: initial;
      }

      h3 {
        display: flex;
        flex: 2 2 auto;
      }
    }
  }

  .business-scales {
    background: $color-black;

    .container-fluid {
      @include mobile {
        padding: 0;
      }
      @include tablet {
        padding: 0;
      }
    }

    .wrap-card {
      width: 20%;
      transition: 2s ease-in;
      color: $color-black;
      @include mobile {
        width: 100%;
      }
      @include tablet-port {
        width: 100%;
      }

      &.active {
        width: 55%;
        max-width: 55%;
        @include mobile {
          max-width: 100%;
          width: 100%;
        }
        @include tablet-port {
          max-width: 100%;
          width: 100%;
        }

        .wrap-text {
          // margin-left: 7rem;
          margin-left: 0;
          transition: 0.5s ease-in;
          -webkit-transition: 0.5s ease-in;
          -moz-transition: 0.5s ease-in;
          -o-transition: 0.5s ease-in;
          @include mobile {
            margin-left: 0;
          }
          @include tablet-port {
            margin-left: 0;
          }
          @media screen and (min-width: 1024px) and (max-width: 1200px) {
            margin-left: 5rem;
          }
        }

        .wrap-heading {
          color: #5E8AB5;
          font-size: 1rem;
          font-weight: 400;
          width: 100%;
          max-width: 100%;
        }
        // .wrap-subheading {
        //   display: block;
        //   width: 100%;
        //   max-width: 100%;
        //   @media screen and (min-width: 1024px) and (max-width: 1200px) {
        //     max-width: 100%;
        //     width: 100%;
        //   }
        // }
        img {
          max-width: 100%;
          width: 100%;
          -webkit-filter: initial;
          filter: initial;
          opacity: 1;
          // transform: translate3d(0, 0.05%, 0);
          // -webkit-transform: translate3d(0, 0.05%, 0);
          // -moz-transform: translate3d(0, 0.05%, 0);
          // -o-transform: translate3d(0, 0.05%, 0);
          transition: transform 2s linear;
          -webkit-transition: transform 2s linear;
          -moz-transition: transform 2s linear;
          -o-transition: transform 2s linear;
          transform: scale(1.5);
          // height: 20rem;
          overflow: hidden;
          @include mobile {
            height: 12rem;
            object-fit: cover;
          }
          @include tablet-port {
            height: 18rem;
            object-fit: cover;
          }
        }
      }

      .wrap-image {
        overflow: hidden;
      }

      img {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        opacity: 0.75;
        height: 28rem;
        object-fit: cover;
        @include mobile {
          width: 100%;
          height: 10rem;
        }
        @include tablet-port {
          width: 100%;
          height: 8rem;
        }
      }

      .wrap-heading {
        font-size: 1rem;
        font-weight: 400;
        width: 100%;
        max-width: 100%;
      }

      .wrap-subheading {
        display: none;
        width: 100%;
        max-width: 100%;
        @include mobile {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    img {
      &.active {}
    }
  }

  .testimonials {
    background: $color-black;
    @include mobile {
      height: 45rem;
    }
    @include tablet-port {
      height: 52rem;
    }

    .carousel-fade {
      .carousel-item {
        transition-duration: 0.2s !important;
        animation-delay: 0.2s !important;

        .testimonial-image {
          animation-delay: 0.1s;
        }

        .testimonial-text {
          animation-delay: 0.1s;
        }
      }
    }

    .testimonial-comma {
      font-family: spectra-regular;
      font-size: 100px;
      @include mobile {
        font-size: 50px;
      }
    }

    .testimonial-text {
      padding: 5rem 0;
      @include mobile {
        padding: 3rem 1.5rem;
      }
      @include tablet-port {
        padding: 4rem 2rem;
      }
      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        padding: 5rem 0;
      }
    }

    .testimonial-details {
      margin-left: 14.5%;

      h3 {
        width: 90%;
        max-width: 90%;
        @include mobile {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    #testimonial-indicators {
      .carousel-inner {
        overflow: initial !important;
      }

      .carousel-indicators {
        margin-left: 8.5% !important;
        @include mobile {
          bottom: 24.5rem;
          margin-left: 0 !important;
          left: 50%;
          transform: translate(-50%, 0%);
        }
        @include s-mobile {
          bottom: 23rem;
          margin-left: 0 !important;
          left: 50%;
          transform: translate(-50%, 0%);
        }
      }
    }

    .testimonial-img {
      width: 100%;
      max-width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      height: 46rem;
      object-fit: cover;
      @include mobile {
        position: relative;
        top: 0;
        height: 24rem;
      }
      @include s-mobile {
        position: relative;
        top: 0;
        height: 22rem;
      }
      @include tablet-port {
        position: relative;
        top: 1rem;
        height: 40rem;
        object-fit: cover;
        width: 80%;
        margin: 0 auto;
      }
      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        top: 0;
        height: 52rem;
      }
    }
  }
  @media (min-width: 1920px) {
    .main-section {
      .container-fluid {
        max-width: 1200px;

        .carousel-indicators,
        .main-text {
          margin-left: 0;
        }

        .connect-now-cta {
          left: 0;
        }
      }
    }

    .testimonials {
      .container-fluid {
        max-width: 1200px;
      }

      .testimonial-details {
        margin-left: 0;
      }
    }
  }

  .blogs {
    color: $color-black;
    @include mobile {
      padding-top: 6rem;
    }
    @include tablet-port {
      padding-top: 22rem;
    }

    .blog-card {
      width: 30%;
      max-width: 30%;
      border: 0;

      .blog-card-image {
        overflow: hidden;
      }

      img {
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 3s;
        transition: all 0.3s;
        width: 100%;
      }

      &:hover {
        color: $color-black !important;

        img {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -o-transition: scale(1.1);
          transform: scale(1.1);
        }

        .card-title {
          color: $color-blue;
        }
      }
      @include mobile {
        width: 100%;
        max-width: 100%;
      }
    }
    // .card-image {
    //   img {
    //     max-width: 100%;
    //     -moz-transition: all 0.3s;
    //     -webkit-transition: all 0.3s;
    //     transition: all 0.3s;
    //     height: 20rem;
    //     object-fit: cover;
    //     @include mobile {
    //       height: 14rem;
    //     }
    //     @media screen and (min-width: 1900px) {
    //       height: auto;
    //     }
    //   }
    //
    //   &:hover img {}
    // }
  }

  .subscribe {
    background: $color-blue;
    color: $color-black;

    .updated-img {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 12rem;
      width: 12rem;
    }
  }

  .chat {
    position: fixed;
    z-index: 999;
    top: 95%;
    right: 0.5%;
    transform: translate(0%, -50%);
  }
}