*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box; //  background-color: $color-black;
  font-family: helvetica-neue-regular;
  color: $color-black;
  letter-spacing: 0.466667px;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: $color-blue;
  }
}

img {
  max-width: 100%;
}

::selection {
  color: $color-white;
}

.bg-lightgrey {
  background-color: #181818;
}

.chat {
  svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: #fff;
    margin-right: 0.5rem;
  }

  .chat-box {
    padding: 0.70rem;
    width: 12rem;
    margin-left: auto;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      width: 75px;
    }
    @include tablet-port {
      width: 75px;
    }

    h5 {
      margin: 0;
      @include mobile {
        display: none;
      }
      @media screen and (min-width: 767px) and (max-width: 1023px) {
        display: none;
      }
    }
  }
}

.progress-tab {
  overflow: hidden;
  counter-reset: step;
  max-width: 100%;
  width: 100%;

  li {
    color: $color-darkgrey;
    list-style-type: none;
    font-size: 0.875rem;
    font-weight: 400;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 0.34px;
    text-align: center;

    &::before {
      content: '';
      counter-increment: step;
      width: 24px;
      height: 24px;
      line-height: 26px;
      display: block;
      font-size: 1rem;
      background: $color-darkgrey;
      border: 1px solid $color-darkgrey;
      margin: 0 auto 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:nth-child(2) {
      display: none;
    }
    // &:nth-child(5) {
    //   display: none;
    // }
    &:nth-child(3) {
      display: none;
    }

    &::after {
      content: '';
      width: 90%;
      height: 1px;
      background: #979797;
      position: absolute;
      left: -45%;
      top: 12px;
      z-index: 1;
      /*put it behind the numbers*/
    }

    &:first-child:after {
      /*connector not needed before the first step*/
      content: none;
    }
  }
}

.progress-tab li.active {
  color: $color-pink;
}

.progress-tab li.active:after,
.progress-tab li.active:before {
  background: $color-pink;
  border: 1px solid $color-pink;
  color: white;
}

.green-tick {
  width: 1rem;
  fill: #66D141;
}