body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-white;
}

.font-65 {
  font-family: spectra-regular;
  font-size: 65px;
  @include mobile {
    font-size: 40px;
  }
  @include s-mobile {
    font-size: 34px;
  }
}

.font-48 {
  font-size: 3rem;
  @include mobile {
    font-size: 26px;
    line-height: 34px;
  }
}

.font-40 {
  font-family: spectra-regular;
  font-size: 40px;
  @include mobile {
    font-size: 32px;
  }
}

.font-36 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  @include mobile {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

.font-20 {
  font-size: 1.25rem;
  line-height: 26px;
  @include mobile {
    font-size: 1rem;
    line-height: 1.65rem;
  }
}

.font-16 {
  font-size: 1rem;
  line-height: 24px;
  @include mobile {
    font-size: 0.875rem;
    line-height: 1.275rem;
  }
}

.font-14 {
  font-size: 0.875rem;
  @include mobile {
    font-size: 0.75rem;
  }
}

.font-12 {
  font-size: 0.75rem;
}

.font-12 {
  font-size: 0.75rem;
}

.font-10 {
  font-size: 11.5px;
  letter-spacing: 0;
}

.pink-color {
  color: $color-pink;
}

.bold-weight {
  font-family: helvetica-neue-bold;
  font-weight: bold;
}

.regular-weight {
  font-family: helvetica-neue-regular;
}

.light-weight {
  font-family: helvetica-neue-light;
  font-weight: light;
}

.medium-weight {
  font-family: helvetica-neue-medium;
}

.thin-weight {
  font-family: helvetica-neue-thin;
}