@font-face {
  src: url("../font/HelveticaNeue-Medium.otf");
  font-family: helvetica-neue-medium;
}
@font-face {
  src: url("../font/HelveticaNeue-Bold.otf");
  font-family: helvetica-neue-bold;
}
@font-face {
  src: url("../font/HelveticaNeue-Light.otf");
  font-family: helvetica-neue-light;
}
@font-face {
  src: url("../font/HelveticaNeue-Regular.otf");
  font-family: helvetica-neue-regular;
}
@font-face {
  src: url("../font/HelveticaNeue-Thin.otf");
  font-family: helvetica-neue-thin;
}
@font-face {
  src: url("../font/Spectra-Regular.otf");
  font-family: spectra-regular;
}
// @font-face {
//       font-family: 'helvetica-neue';
//       src: url(../font/HelveticaNeue-Medium.otf) format('truetype') font-weight-medium,
//            url(../font/HelveticaNeue-Bold.otf) format('truetype') font-weight-bold,
//            url(../font/HelveticaNeue-Light.otf) format('truetype') font-italic font-weight-light,
//            url(../font/HelveticaNeue-Regular.otf) format('truetype') font-weight-regular,
//            url(../font/HelveticaNeue-Thin.otf) format('truetype') font-italic font-weight-thin;
//     }