// COLORS
$color-darkgrey: #686868;
$color-lightgrey: #979797;
$color-white: #fff;
$color-black: #000;
$color-pink: #F56B6B;
$color-grey: #1A1A1A;
$color-blue: #47A8C5;
$color-purple: #C8BBDB; // GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;